@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@theme {
  --font-inter: var(--font-inter);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-success: var(--success);
  --color-success-muted: var(--success-muted);
  --color-success-muted-2: var(--success-muted-2);
  --color-success-subtle: var(--success-subtle);
  --color-destructive: var(--destructive);
  --color-destructive-muted: var(--destructive-muted);
  --color-destructive-muted-2: var(--destructive-muted-2);
  --color-destructive-subtle: var(--destructive-subtle);
  --color-info: var(--info);
  --color-info-muted: var(--info-muted);
  --color-info-muted-2: var(--info-muted-2);
  --color-info-subtle: var(--info-subtle);
  --color-warning: var(--warning);
  --color-warning-muted: var(--warning-muted);
  --color-warning-muted-2: var(--warning-muted-2);
  --color-warning-subtle: var(--warning-subtle);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-hyperlink: var(--hyperlink);
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);
}

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.147 0.004 49.25);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.147 0.004 49.25);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.147 0.004 49.25);
  --primary: oklch(0.555 0.163 48.998);
  --primary-foreground: oklch(0.987 0.022 95.277);
  --secondary: oklch(0.967 0.001 286.375);
  --secondary-foreground: oklch(0.21 0.006 285.885);
  --muted: oklch(0.97 0.001 106.424);
  --muted-foreground: oklch(0.553 0.013 58.071);
  --accent: oklch(0.97 0.001 106.424);
  --accent-foreground: oklch(0.216 0.006 56.043);
  --success: oklch(55% 0.16 145);
  --success-muted: oklch(95% 0.035 145);
  --success-muted-2: oklch(83% 0.1 145);
  --success-subtle: oklch(42% 0.13 145);
  --destructive: oklch(58% 0.2 27);
  --destructive-muted: oklch(95% 0.035 27);
  --destructive-muted-2: oklch(83% 0.1 27);
  --destructive-subtle: oklch(45% 0.15 27);
  --info: oklch(55% 0.18 250);
  --info-muted: oklch(95% 0.035 250);
  --info-muted-2: oklch(83% 0.1 250);
  --info-subtle: oklch(42% 0.15 250);
  --warning: oklch(55% 0.15 70);
  --warning-muted: oklch(95% 0.045 85);
  --warning-muted-2: oklch(83% 0.12 80);
  --warning-subtle: oklch(42% 0.13 70);
  --border: oklch(0.923 0.003 48.717);
  --input: oklch(0.923 0.003 48.717);
  --ring: oklch(0.709 0.01 56.259);
  --chart-1: oklch(0.869 0.005 56.366);
  --chart-2: oklch(0.553 0.013 58.071);
  --chart-3: oklch(0.444 0.011 73.639);
  --chart-4: oklch(0.374 0.01 67.558);
  --chart-5: oklch(0.268 0.007 34.298);
  --radius: 0.625rem;
  --sidebar: oklch(0.985 0.001 106.423);
  --sidebar-foreground: oklch(0.147 0.004 49.25);
  --sidebar-primary: oklch(0.666 0.179 58.318);
  --sidebar-primary-foreground: oklch(0.987 0.022 95.277);
  --sidebar-accent: oklch(0.97 0.001 106.424);
  --sidebar-accent-foreground: oklch(0.216 0.006 56.043);
  --sidebar-border: oklch(0.923 0.003 48.717);
  --sidebar-ring: oklch(0.709 0.01 56.259);
  --hyperlink: oklch(0.4588 0.2326 299.65);
}

.dark {
  --background: oklch(0.147 0.004 49.25);
  --foreground: oklch(0.985 0.001 106.423);
  --card: oklch(0.216 0.006 56.043);
  --card-foreground: oklch(0.985 0.001 106.423);
  --popover: oklch(0.216 0.006 56.043);
  --popover-foreground: oklch(0.985 0.001 106.423);
  --primary: rgb(151, 60, 0);
  --primary-foreground: oklch(0.987 0.022 95.277);
  --secondary: oklch(0.274 0.006 286.033);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.268 0.007 34.298);
  --muted-foreground: oklch(0.709 0.01 56.259);
  --accent: oklch(0.268 0.007 34.298);
  --accent-foreground: oklch(0.985 0.001 106.423);
  --success: oklch(78% 0.17 150);
  --success-muted: oklch(27% 0.07 150);
  --success-muted-2: oklch(45% 0.1 150);
  --success-subtle: oklch(70% 0.12 150);
  --destructive: oklch(78% 0.18 22);
  --destructive-muted: oklch(27% 0.08 22);
  --destructive-muted-2: oklch(45% 0.1 22);
  --destructive-subtle: oklch(68% 0.12 22);
  --info: oklch(78% 0.14 245);
  --info-muted: oklch(27% 0.08 245);
  --info-muted-2: oklch(45% 0.11 245);
  --info-subtle: oklch(70% 0.12 245);
  --warning: oklch(80% 0.16 80);
  --warning-muted: oklch(28% 0.07 80);
  --warning-muted-2: oklch(48% 0.11 80);
  --warning-subtle: oklch(72% 0.13 80);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.553 0.013 58.071);
  --chart-1: oklch(0.869 0.005 56.366);
  --chart-2: oklch(0.553 0.013 58.071);
  --chart-3: oklch(0.444 0.011 73.639);
  --chart-4: oklch(0.374 0.01 67.558);
  --chart-5: oklch(0.268 0.007 34.298);
  --sidebar: oklch(0.216 0.006 56.043);
  --sidebar-foreground: oklch(0.985 0.001 106.423);
  --sidebar-primary: oklch(0.769 0.188 70.08);
  --sidebar-primary-foreground: oklch(0.279 0.077 45.635);
  --sidebar-accent: oklch(0.268 0.007 34.298);
  --sidebar-accent-foreground: oklch(0.985 0.001 106.423);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.553 0.013 58.071);
  --hyperlink: oklch(0.4588 0.1529 299.65);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  html {
    @apply font-inter;
  }
}

@layer utilities {
  .glass {
    @apply border-4 border-white/20 bg-white/10 backdrop-blur-md dark:border-black/20 dark:bg-black/10;
  }
  .dark-glass {
    @apply border-4 border-black/20 bg-black/10 backdrop-blur-md;
  }
}
